/*.iframecss{
height:94%;
width: 420px;
overflow: hidden;
position:absolute;
left:0px;top:0px;
font-size: 32px;
margin-left: 33%;
margin-top:2%;
margin-bottom:2%; 
border-radius: 10px; 
}*/

.bg{
overflow: hidden;
}


.body{
	overflow: hidden;
}



@media (min-width: 420px) {
    .iframecss {
        height:94%;
width: 420px;
overflow: hidden;
position:absolute;
left:0px;top:0px;
font-size: 32px;
margin-left: 33%;
margin-top:2%;
margin-bottom:2%; 
border-radius: 10px; 
    }
}

@media (max-width: 420px) {
    .iframecss {
        height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 32px;
    right: 0px; 
    }
}